:root{
    --maincolor: rgb(255, 117, 129);
    --bordercl:rebeccapurple;
    --callouctcolor:rgb(0, 102, 128);
    --hovercolor:rgb(0, 102, 128);
    --darkMaincolor: #50fa7b;
}

svg {
    max-height: 1500px !important;
}

.soc > svg {
    max-height: 15px !important;
}