<style>
    body {
        font-family: monospace;
        background-color: #222;
        color: #eee;
    }

    a {
        color: lightblue;
    }

    a:visited {
        color: #b19cd9;
    }

    main {
        max-width: 800px;
        padding: 20px;
        margin: 0 auto;
    }
</style>