<div style="display: flex; align-items: first baseline">
    <h1 style="flex: 1">/home/cody</h1>
    <div style="justify-self: flex-end; display: flex; width: 130px; justify-content: space-between;">
        <a href="/">Home</a>
        <a href="/posts/">Posts</a>
        <a href="/tags/">Tags</a>
    </div>
</div>
<hr />