---
title: Posts
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "css.njk" %}
    <title>{{ title }}</title>
</head>
<body>

    <main>
        {% include "header.njk" %}

        <br />
        Professional things:
        <ul>
            <li>10+ years of experience in software development</li>
            <li>C# / TypeScript / React(JS|Native) / SQL</li>
        </ul>

        Other interests:
        <ul>
            <li>Game development</li>
            <li>DIY electronics / PCB design</li>
        </ul>

        Find me on:
        <ul>
            <li><a href="https://twitter.com/codygrep" target="_blank" rel="noopener noreferrer">Twitter</a></li>
            <li><a href="https://github.com/codygrep" target="_blank" rel="noopener noreferrer">Github</a></li>
        </ul>
    </main>

</body>
</html>
