---
pagination:
    data: collections
    size: 99
    alias: tag
    filter:
      - post
      - all
permalink: /tags/
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "css.njk" %}
    <title>Tags</title>
</head>
<body>

    <main>
        {% include "header.njk" %}

        <h2>Tags</h2>

        <ul>
            {% for tag, values in collections | nopostsobj %}
                <li><a href="/tags/{{tag}}/">{{tag}}</a> ({{values | length}})</li>
            {% endfor %}
        </ul>
    </main>

</body>
</html>